body {
    margin-left: 25px;
    font-family: Helvetica;
    font-weight: lighter;
    color: #DCD0C0;
}

h1 {
    text-align: center;
    color: #C0B283;
    font-size: 30;
}

h2 {
    color: #373737;
}

#profile-pic {
    display: block;
    margin: 0 auto;
}

img {
    margin-right: 8px;
}
