body {
    margin-left: 100px;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 14px;
    color: #DCD0C0;
    bgcolor:"#F4F4F4";
}

h1 {
    text-align: center;
    color: #C0B283;
    font-size: 30px;
}

h2 {
    color: #373737;
    font-size: 24px;

}

#profile-pic {
    display: block;
    margin: 0 auto;
}

img {
    margin-right: 8px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 185px;
    width: 30px;
    margin-left: 10px;
    float: left;
}

.pixel {
    margin: 5px;
}

.wrap {
    width: 500px;
    margin: 0 auto;
}

.comment_box {
    padding-top: 500px;
}

#comment_area {
    display: block;
    margin-top: 15px;
}

#comment_list {
    color: #373737
}
